{% extends "./base.html" %}
{% block content %}
    <h1>Add Product </h1>

    <form action="{% url 'product:add' %}" method="POST" id="form-add-product">
        {% csrf_token %}
        <div class="product-body">
            
            <input type="text" name="product_name" {% if form.product_name %} value= "{{form.product_name.value}}" {% else %} placeholder="Name goes here" {% endif %}>
                {% if form.product_name.errors %}<p >{% for error in form.product_name.errors %} {{ error }} {% endfor %}</p> {% endif %}
            
            <input type="text" name="product_price" {% if form.product_price %} value= "{{form.product_price.value}}" {% else %} placeholder="Price goes here" {% endif %}>
                {% if form.product_price.errors %}<p >{% for error in form.product_price.errors %} {{ error }}{% endfor %}</p> {% endif %}
            
            <input type="text" name="product_url" {% if form.product_url %} value="{{form.product_url.value}}" {% else %} placeholder="URL goes here" {% endif %}>
                {% if form.product_url.errors %}<p >{% for error in form.product_url.errors %} {{ error }} {% endfor %}</p> {% endif %}
            
            <input type="file" name="product_image" id="" > 

        </div>
        <div class="product-footer" style="text-align:left; margin-top:50px">
            <button type="submit">Add this Product</button>
        </div>
    </form>
{% endblock %}